.letter-btn:disabled {
    border: 1px solid gray;
    color: gray;
}

.word {
    display: flex;
    width: 100%;
    justify-content: center;
}

.letter {
    width: 50px;
    height: 50px;
    border-bottom: 2px solid #eee;
    margin: 4px;
    font-size: 35px;
}

.letter-btn  {
    height: 35px;
    width: 35px;
    background-color: transparent;
    color: #eee;
    border: 1px solid #2b88d8;
    border-radius: 3px;
}

.guess-area {
    margin-top: 10px;
    width: 90vw;
    margin: auto;
}

.drawing > img {
    width: 20vw;
}

@media screen and (max-width: 992px) {
    .word {
        width: 90%;
        margin: 0 5%;
    }
    .letter {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    .letter-btn  {
        font-size: 8px;
        height: 20px;
        width: 20px;
        margin: 2px !important;
    }

    .guess-area {
        width: 98vw;
    }

    .drawing > img{
        width: 30vw;
    }
  }