body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #393e46;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lenke, .lenke:hover {
  color: #eee;
  text-decoration: underline;
}

.page-content {
  display: block;
  text-align: center;
  width: 100vw;
  justify-content: center;
}

.site-title {
  font-size: xx-large;
  margin: 20px;
}

.second-title {
  font-size: x-large;
  margin-bottom: 40px;
}


.slider {
  width: 50vw !important;
  color: #2b88d8 !important;
}

.MuiSlider-valueLabel {
  background-color: #2b88d8 !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.navigation {
  height: 60px;
  position: relative;
  background-color: #222831;
  box-shadow: 0px 2px 5px black;
  width: 100vw;
}

.nav-list-container {
  position: absolute;
  right: 5px;
  top: 0px;
  height: 100%;
}

.nav-button-group {
  height: 100%;
  outline: none !important;
  cursor: default !important;
}

.nav-button {
  margin-left: 10px !important;
  outline: none !important;
  width: 130px;
}

.active > button {
  color: #eee !important;
}

.active:hover {
  color: #eee !important;
}

.navbar-logo {
  height: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.home-button-group {
  position: relative;
}

.dice-container {
  max-width: 50vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dice {
  width: 60px;
  margin: 10px;
  perspective: per;
  transform-style: preserve-3d;
  transition: 600ms;
}

.hh-btn {
  margin: 10px 5px !important;
  width: 40%;
}

.topic {
  font-size: 25px;
  margin-top: 10px;
}

.letter-btn {
  width: 200px;
  margin: 5px !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

.modal {
  width: 50vw;
  height: auto;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  background-color: #393e46;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  display: block;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1000;
}

.letters {
  font-size: 60px;
  letter-spacing: 20px;
  position: relative;
  left: 10px;
}

.countdown {
  width: 90% !important;
  margin: 20px 5% !important;
  height: 15px !important;
  border-radius: 15px !important;
}

.start-btn {
  margin-bottom: 15px !important;
}

@media screen and (max-width: 992px) {
  .slider, .hh-btn {
    width: 80% !important;
    margin: 5px !important;
  }

  .dice-container {
    max-width: 90vw;
  }

  .dice {
    width: 50px;
  }

  .nav-button-group {
    display: none !important;
  }

  .second-title {
    font-size: medium;
  }

  .topic {
    font-size: 16px;
    margin: 5px;
  }

  .modal {
    width: 80vw;
  }

  .letters {
    font-size: 40px;
    letter-spacing: 10px;
    left: 5px;
  }

  .start-btn {
    margin-bottom: 40px !important;
  }
}
